.max-height-image {
    max-height: 150vh;
    overflow-x: hidden;
}

.card-image {
    width: 180px;
    height: 220px;
    border-radius: 0.2em;
    margin-bottom: 1em;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.65);
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: #fff;
    overflow: hidden;
    clear: both;
}

.card-body-image {
    width: 100%;
    height: 100%;
}

.card-body-image img {
    max-width: 100%;
    max-height: 100%;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
}

.card-tiulo-image, .card-footer-image {
    width: 180px;
    height: auto;
    position: absolute;
    z-index: 100;
}

.card-titulo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.card-footer-image {
    /* top: 90%; */
    bottom: 0;
    padding-bottom: 10px;
}

.card-footer-image .card-titulo span {
    font-size: .8em;
}